/* .ilkclass {
    color: bisque;
} */
/* #aydi {
    color: rgb(85, 20, 71);
} */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    font-weight: 700;

}

p {
    font-weight: 400;

}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
}

.logo-web {
    color: #4D5AE5;
}