body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #434455;
}

.main-ttl {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

p {
    font-weight: 400;

}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-underline-position: from-font;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: left;

}

.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.p_under_about_us {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.studio {
    color: #2e2f42;
}

.studio-bottom {
    color: #f4f4fd;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li:first-child a.studio-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 text-decoration: none;
}

ul li:first-child a.studio-link:hover {
    color: #404bbf;
}

ul li:first-child a.studio-link:focus {
    color: #404bbf;
}

ul li a.studio-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

ul li a.studio-link:hover {
    color: #404bbf;
}

ul li a.studio-link:focus {
    color: #404bbf;
}

.reach {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.team {
    background-color: #f4f4fd
}

.team_members {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.member_details {
    background-color: #FFFFFF;
}

.team_names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team_titles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.effective {
    background-color: #2e2f42
}

.our_port {
    background-color: #ffffff;
}

.portfolio-headers {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.product-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.product-types {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.bttn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #404BBF;
}

button:focus {
    background-color: #404BBF;
}

.ftr {
    background-color: #2e2f42
}

.ftr-txt {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}